* {
    margin: 0;
    padding: 0;
}

/* 強調黃： rgb(255, 204, 0); */
/* 強調黑：color: rgb(50, 50, 50); */
/* 基調黑：color: rgba(50, 50, 50, 0.6); */

body {
    position: relative;
}

aside {
    display: none;
    width: 40px;
    /* height: 100vh; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
    z-index: 4;
}
aside::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 290px;
    background-color: rgba(0, 0, 0, 0.2);
    left: -10px;
    top: 30px;
}
aside div {
    margin: 20px 0;
    line-height: 1.5;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.5);
}

aside div::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    left: -12px;
    margin-top: 9px;
}

/* prolio */
.prolio {
    width: 100vw;
    height: 200vh;
    position: absolute;
    transition: all 0.5s;
    display: flex;
    z-index: 5;
}
.stopScroll {
    overflow-y: hidden;
}

.prolio .right {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    width: 50vw;
    height: 100vh;
}
.prolio .right::after {
    content: '';
    width: 1px;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.prolio .blur {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    /* background-color: rgba(255, 255, 255, 0.6); */
}
.prolio .picName {
    width: 30%;
    margin-left: 55%;
    margin-top: -20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.prolio .picName img {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(8px 8px 7px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(8px 8px 7px rgba(0, 0, 0, 0.1));
}
.prolio .picName div {
    font-size: 25px;
    color: white;
    text-align: center;
    letter-spacing: 7px;
    line-height: 2.5;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}
.prolio .picName span {
    color: white;
    text-align: center;
    letter-spacing: 7px;
    line-height: 2;
    position: absolute;
    right: 0px;
    left: 0px;
}
.prolio .picName a {
    text-decoration: none;
    color: rgb(255, 204, 0);
    text-align: center;
    letter-spacing: 7px;
    line-height: 2;
    position: absolute;
    padding-left: 10px;
    right: 0px;
    left: 0px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
    transition: color 0.5s;
}
.prolio .picName .fa-caret-right {
    text-align: center;
    font-size: 18px;
    color: rgb(255, 204, 0);
    vertical-align: middle;
    padding-left: 6px;
    transition: color 0.5s;
}

.prolio .picName:hover .fa-caret-right,
.prolio .picName:hover a {
    filter: none;
    transition: filter 0.5s;
}

.prolio .left {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    width: 50vw;
    height: 100vh;
    color: white;
    display: flex;
    align-content: center;
    -webkit-align-content: center;
}

.prolio .left > div {
    height: 110px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 150px;
}

.prolio .left p {
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 4;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.prolio .left span {
    letter-spacing: 2px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.prolio_small {
    display: none;
    align-items: center;
}

.prolio_small a:first-child {
    display: flex;
    text-decoration: none;
}
.prolio_small .logo {
    width: 55px;
    height: 55px;
    background-color: rgb(62, 156, 141);
    margin-left: 50px;
}

.prolio_small .name {
    margin-left: 36px;
    margin-top: -2px;
    color: rgb(50, 50, 50);
}
.prolio_small .name div {
    letter-spacing: 6px;
    line-height: 2;
    font-size: 18px;
}
.prolio_small .name span {
    letter-spacing: 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.prolio_small > a:last-child {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 7px;
    line-height: 80px;
    position: absolute;
    padding: 0 50px;
    right: 0px;
    right: 0px;
    transition: color 0.5s;
}

.prolio_small > a:last-child::before {
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    margin-top: 14px;
    width: 1px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}
.prolio_small > a:last-child > .fa-caret-right {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    padding-left: 6px;
    margin-top: -4px;
    transition: color 0.5s;
}
.prolio_small > a:last-child:hover {
    color: rgba(0, 0, 0, 0.8);
}
.prolio_small > a:last-child:hover .fa-caret-right {
    color: rgba(0, 0, 0, 0.8);
}

/* prolio end */
/* leather */
.leather {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(img/bgBlur.png);
    background-size: contain;
    background-position-y: 0px;
    background-position-x: 80px;
    transition: background-image 1s;
}
/* leather end */
/* glass */
.glass {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(img/bgBlur.png);
    background-size: contain;
    background-position-y: 0px;
    background-position-x: 80px;
}
/* glass end */
/* ceramics */

/* ceramics end */
/* metal */

/* metal end */
/* wood */

/* wood end */
/* product */

/* product end */
/* social */

/* social end */
