* {
    margin: 0;
    padding: 0;
}

/* 強調黃： rgb(255, 204, 0); */
/* 強調黑：color: rgb(50, 50, 50); */
/* 基調黑：color: rgba(50, 50, 50, 0.6); */

html {
    background-color: #fdfdfd;
    scroll-behavior: smooth;
    /* transition: all 0.5s; */
    font-family: Microsoft JhengHei;
}
body {
    position: relative;
    background-color: #f2f3f5;
    position: relative;
}
.scrollDown {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    text-align: center;
    box-sizing: border-box;
    padding: calc(50vh - 50px) calc(50vw - 155px);
    transition: all 0.5s ease;
    opacity: 1;
}
.scrollDown p {
    color: #fff;
    width: 310px;
    letter-spacing: 4px;
    line-height: 1.8;
}
.scrollDown svg {
    position: relative;
    width: 43px;
    height: 58px;
}
.indexAside {
    display: block;
    position: fixed;
    width: 100px;
    height: 100vh;
    margin-left: 60px;
    z-index: 4;
}
.indexAside::before {
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 100vh;
    left: -60px;
    background-image: linear-gradient(90deg, #f2f3f5 14%, transparent);
}
.indexAside ul::before {
    /* content: ''; */
    display: block;
    position: absolute;
    width: 1px;
    height: 345px;
    background-color: rgba(0, 0, 0, 0.2);
    left: -10px;
    top: 12px;
}
.indexAside ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.indexAside ul li {
    font-size: 14px;
    list-style: none;
    margin: 20px 0;
    line-height: 1.2;
    letter-spacing: 2px;
    cursor: pointer;
}
.indexAside ul li a {
    transition: all 0.5s ease;
}
.indexAside ul li:first-child a {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.indexAside ul li::before {
    content: '/';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    /* border: 2px solid #eee;
    border-radius: 3px;
    background-color: #aaa; */
    left: -14px;
    /* margin-top: 9px; */
    color: rgba(0, 0, 0, 0.1);
}

.indexAside ul li > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.1);
}
.indexAside ul li > a:hover {
    color: rgba(0, 0, 0, 0.6);
}
.indexAside > ul > a {
    text-decoration: none;
    position: absolute;
    left: -12px;
    bottom: -75px;
    font-size: 15px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.indexAside > ul > a:hover {
    color: rgba(0, 0, 0, 0.8);
}
.indexAside_scroll {
    writing-mode: vertical-lr;
    font-size: 12px;
    color: #bbb;
}

/* prolio 介紹區 */
.prolio {
    width: 100%;
    height: unset;
    /* height: 201vh; */
    position: fixed;
    /* position: absolute; */
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    z-index: 5;
}
.prolio svg {
    width: 42px;
    height: 80px;
    display: block;
    position: relative;
    margin: 30px auto 0 auto;
    z-index: 1;
}
.prolio svg text {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: white;
}

/* .stopScroll {
    overflow-y: hidden;
} */

.prolio .right {
    display: none;
    background-color: #aaa;
    position: relative;
    width: 100%;
    height: 50vh;
    border-bottom: 1px #bebebe solid;
}
.prolio .right::after {
    content: '';
    width: 1px;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.prolio .blur {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    /* background-color: rgba(255, 255, 255, 0.6); */
}
.prolio .picName {
    width: 25%;
    display: flex;
    align-items: center;
    margin: auto;
    /* margin-left: 55%;
    margin-top: -20px; */
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
}
.prolio .picName .pic {
    width: 35%;
}
.prolio .picName .pic img {
    width: 100%;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(8px 8px 7px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(8px 8px 7px rgba(0, 0, 0, 0.1));
}

.prolio .picName .name {
    height: fit-content;
    margin-left: 30px;
}
.prolio .picName .name div {
    font-size: 25px;
    color: white;
    letter-spacing: 7px;
    line-height: 2.5;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}
.prolio .picName span {
    color: white;
    text-align: center;
    letter-spacing: 7px;
    line-height: 2;
    position: absolute;
    right: 0px;
    left: 0px;
}
.prolio .picName .name a {
    text-decoration: none;
    color: rgb(255, 204, 0);
    text-align: center;
    letter-spacing: 6px;
    line-height: 2;
    position: relative;
    right: 0px;
    left: 0px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
    transition: color 0.5s;
}
.prolio .picName .name .fa-caret-right {
    text-align: center;
    font-size: 18px;
    color: rgb(255, 204, 0);
    vertical-align: middle;
    padding-left: 6px;
    transition: color 0.5s;
}

.prolio .picName:hover .name .fa-caret-right,
.prolio .picName:hover .name a {
    filter: none;
    transition: filter 0.5s;
}

.prolio .left {
    display: none;
    /* display: flex; */
    background-color: #aaa;
    position: relative;
    width: 100%;
    height: 50vh;
    color: white;
    align-content: center;
    -webkit-align-content: center;
}

.prolio .left > div {
    height: 110px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.prolio .left p {
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 2.5;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.prolio .left span {
    letter-spacing: 2px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.prolio_small {
    width: 100%;
    height: 80px;
    /* height: 0px; */
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    /* position: absolute; */
    display: flex;
    /* display: none; */
    align-items: center;
    transition: height 1s;
}

.prolio_small a:first-child {
    display: flex;
    text-decoration: none;
}
.prolio_small .logo {
    width: 55px;
    height: 55px;
    background-image: url(img/intro/LOGO.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 50px;
    margin-bottom: 1.3px;
}

.prolio_small .name {
    margin-left: 36px;
    margin-top: -1.5px;
    color: rgb(50, 50, 50);
}
.prolio_small .name div {
    letter-spacing: 6px;
    line-height: 2;
    font-size: 18px;
}
.prolio_small .name span {
    letter-spacing: 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.prolio_small > a:last-child {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 7px;
    line-height: 80px;
    position: absolute;
    padding: 0 50px;
    right: 0px;
    right: 0px;
    transition: color 0.5s;
}

.prolio_small > a:last-child::before {
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    margin-top: 14px;
    width: 1px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}
.prolio_small > a:last-child > .fa-caret-right {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    padding-left: 6px;
    margin-top: -4px;
    transition: color 0.5s;
}
.prolio_small > a:last-child:hover {
    color: rgba(0, 0, 0, 0.8);
}
.prolio_small > a:last-child:hover .fa-caret-right {
    color: rgba(0, 0, 0, 0.8);
}
/* prolio end */

/* _____ lightBox _____ */
.film_lightBox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #323232;
    z-index: 10;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}
.film_lightBox .lightBox_wrap {
    position: relative;
    width: 60vw;
    height: 70vh;
    margin: 15vh auto 15vh;
}
.film_lightBox .fa-times {
    position: absolute;
    font-size: 18px;
    top: -30px;
    right: 0px;
    cursor: pointer;
    z-index: 11;
    color: #aac289;
}
/* _____ lightBox end _____ */

/* _____ 作品區共用 _____ */
#sectionS {
    overflow: hidden;
    padding-top: 20px;
    transition: all 10s;
}
.object {
    overflow-x: scroll;
    display: flex;
    position: relative;
    /* position: fixed; */
    width: auto;
    height: 95vh;
    background-size: contain;
    background-position-y: 0px;
    background-position-x: 80px;
    padding-left: 10%;
    border-bottom: 1px #fff solid;
    transition: background-image 1s;
}

.object::-webkit-scrollbar-track {
    background-color: #dfdfdf;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
}

.object::-webkit-scrollbar {
    height: 2px;
    background-color: #ffffff;
}

.object::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
}

.object > .item {
    height: 70%;
    margin: 0px 23px;
    display: block;
    text-decoration: none;
    top: 46%;
    position: relative;
    transform: translateY(-50%);
}
.object > .item:last-child {
    padding-right: 10%;
}
.object > .item > figure {
    height: 100%;
}
.object > .item > figure img {
    height: 84%;
    display: block;
    margin: auto;
    /* padding: 12%; */
    box-sizing: border-box;
    transition: all 0.5s;
    transform: scale(1);
    filter: grayscale(5%);
}

.object > .item:hover > figure img {
    filter: grayscale(0%);
    transform: scale(1.05);
}
.object > .item > figure > figcaption {
    text-align: center;
    letter-spacing: 2px;
    line-height: 4;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.1s;
}
.object > .item:hover > figure > figcaption {
    color: rgba(0, 0, 0, 0.8);
}
.object.film > .item > figure > figcaption {
    line-height: 1.8;
}
/* photo */
.object.photography figure {
    position: relative;
}
.object.photography p.photoImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    z-index: 1;
}
.object.photography img.frame {
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.object.photography > .item:hover img {
    filter: unset;
    transform: unset;
}
.object.photography p.photoImg0 {
    background-image: url(img/photo0.png);
}
.object.photography p.photoImg1 {
    background-image: url(img/photo1.png);
}
.object.photography p.photoImg2 {
    background-image: url(img/photo2.png);
}
.object.photography p.photoImg3 {
    background-image: url(img/photo3.png);
}
.object.photography p.photoImg4 {
    background-image: url(img/photo4.png);
}
.object.photography p.photoImg5 {
    background-image: url(img/photo5.png);
}
.object.photography p.photoImg6 {
    background-image: url(img/photo6.png);
}
/* film */
.object.film figure {
    position: relative;
}
.object.film p.filmImg {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    z-index: 1;
    cursor: pointer;
}
.object.film img.frame {
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: relative;
}
.object.film p.filmImg .filmPlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 14.5%;
    z-index: -2;
    transition: all 0.5s ease;
    opacity: 0;
}
.object.film p.filmImg .filmPlay::before {
    position: absolute;
    display: block;
    content: '';
    border-left: 36px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.object.film p.filmImg:hover .filmPlay {
    opacity: 1;
}
.object.film > .item {
    margin: 0px 40px;
    height: 50%;
}
.object.film > .item:hover img {
    filter: unset;
    transform: unset;
}
.object.film p.filmImg1 {
    background-image: url(img/film1.png);
}
.object.film p.filmImg2 {
    background-image: url(img/film2.png);
}
.object.film p.filmImg3 {
    background-image: url(img/film3.png);
}
.object.film p.filmImg4 {
    background-image: url(img/film4.png);
}
.object.film p.filmImg5 {
    background-image: url(img/film5.png);
}
.object.film p.filmImg6 {
    background-image: url(img/film6.png);
}
/* _____ 作品區共用 end _____ */
