html.html_photo {
    background-color: rgb(50, 50, 50);
}
/* 麵包屑 */
.breadcrumb {
    position: fixed;
    width: auto;
    height: 100vh;
    display: block;
    margin-left: 40px;
}
.breadcrumb > ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-lr;
    display: flex;
}
.breadcrumb > ul::before {
    content: '::';
    position: relative;
    left: 2px;
    color: #999;
}
.breadcrumb > ul > li {
    color: #aaa;
    letter-spacing: 5.2px;
    margin: 16px 0;
    display: block;
    cursor: default;
}

.breadcrumb > ul > li > a {
    letter-spacing: 5.2px;
    text-decoration: none;
    color: #aaa;
}
.breadcrumb > ul > li > a:hover {
    color: #555;
}
.breadcrumb > ul > li > a::after {
    content: '>';
    position: relative;
    left: 1px;
    bottom: -15px;
    color: #aaa;
}

/* 白色麵包屑 */
.breadcrumb.breadcrumb_white > ul::before,
.breadcrumb.breadcrumb_white > ul > li,
.breadcrumb.breadcrumb_white > ul > li > a,
.breadcrumb.breadcrumb_white > ul > li > a::after {
    color: rgba(255, 255, 255, 0.8);
}
.breadcrumb.breadcrumb_white > ul > li > a:hover {
    color: #fff;
}

/* 上半部介紹 main */
.main {
    width: 100%;
    height: 80%;
}
.main > figure {
    width: 70%;
    margin: auto;
    display: flex;
    padding: 100px 0px 50px 0px;
}

.main > figure > .picture {
    width: 60%;
}

.main > figure > .picture > img {
    width: 100%;
    vertical-align: top;
}

.main .cont {
    width: 30%;
    height: fit-content;
    padding-left: 70px;
    align-self: center;
}

.main .cont > span {
    display: block;
}
.main .cont .name {
    font-size: 23px;
    color: black;
    letter-spacing: 2px;
    line-height: 3;
}

.main .cont .year {
    font-size: 15px;
    color: rgb(155, 155, 155);
    letter-spacing: 2px;
    line-height: 2;
}
.main .cont .year::before {
    content: '/';
    padding-right: 12px;
}
.main .cont .media,
.main .cont .method,
.main .cont .size {
    font-size: 15px;
    color: rgb(95, 41, 41);
    letter-spacing: 2px;
    line-height: 2;
}

.main .cont .media::before,
.main .cont .method::before,
.main .cont .size::before {
    content: '/';
    padding-right: 12px;
}

/* 下半部介紹 intro */
.intro {
    background-color: #ebebeb;
    width: 100%;
    padding: 60px 0 200px 0px;
}

.thought,
.feature {
    width: 50%;
    margin: 80px auto;
}
.title {
    line-height: 3;
    font-size: 19px;
    letter-spacing: 10.2px;
    color: #777;
}
.title::before {
    content: '/';
    padding-right: 15px;
}
.feat {
    line-height: 3;
    color: #555;
    letter-spacing: 2px;
}
.feat::before {
    content: '//';
    padding-right: 15px;
}
.contain {
    line-height: 2;
    text-indent: 30px;
}

/* 圖片樣式 colume_1 */

.colume_1 {
    margin: 40px auto;
    width: 60%;
}
.colume_1 .img img {
    width: 100%;
}

/* 圖片樣式 colume_2 */
.colume_2 {
    margin: auto;
    width: 100%;
    display: flex;
}
.colume_2 .img {
    margin: 40px 0;
}
.colume_2 .img img {
    width: 100%;
}

/* 圖片樣式 colume_3 */
.colume_3 {
    margin: auto;
    width: 100%;
}
.colume_3 .wrap {
    display: flex;
    margin: 70px 0;
}
.colume_3 .img {
    width: 55%;
}
.colume_3 .img img {
    width: 100%;
    vertical-align: middle;
}
.colume_3 p {
    width: 40%;
    font-size: 16px;
    margin-left: 5%;
    align-self: center;
    line-height: 1.8;
}

/* 圖片樣式 colume_4 */
.colume_4 {
    margin: 50px 0;
    width: 100%;
}
.colume_4 .wrap {
    display: flex;
    margin: 10px 0;
}
.colume_4 .img {
    width: 40%;
}
.colume_4 .img img {
    width: 100%;
    vertical-align: middle;
}
.colume_4 p {
    width: 55%;
    font-size: 14px;
    margin-left: 5%;
    align-self: center;
    line-height: 1.8;
}

/* glass1 */
.pic_light {
    position: absolute;
    z-index: 1;
}
.light {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.pic_light:hover .light {
    opacity: 1;
}
.pic {
    cursor: pointer;
}
/* glass1 end */

/* photo */
.photo_contain {
    margin: 15vh 0 5vh;
    height: 80vh;
    background-color: rgb(50, 50, 50);
}
.photo_swiper {
    position: relative;
    width: 80%;
    height: 100%;
    padding: 0;
    margin: auto;
}
.photo_swiper .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.photo_swiper .swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.photo_swiper .gallery-top {
    height: 80%;
    width: 100%;
}
.photo_swiper .gallery-top .swiper-slide {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
}
.photo_swiper .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 20px 0;
}
.photo_swiper .gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
}
.photo_swiper .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.photo_swiper .slide_1 .slide_img {
    height: 100%;
}
/* .photo_swiper .slide_1 {
    background-image: url(img/photo1.png);
} */
/* photo end */
