* {
    margin: 0;
    padding: 0;
}

/* 強調黃： rgb(255, 204, 0); */
html {
    background-color: rgb(237, 235, 235);
}
body {
    position: relative;
    background-color: rgb(228, 228, 228);
}

/* prolio 與index共用樣式,註解掉相同樣式 */
.prolio {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    display: flex;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.3);
}
.prolio_small {
    display: flex;
    align-items: center;
    height: unset;
    background-color: unset;
    margin-top: 11px;
}
/* 
.prolio_small .logo {
    width: 50px;
    height: 50px;
    background-color: rgb(62, 156, 141);
    margin-left: 50px;
} */
.prolio_small .logo::before {
    content: '';
    position: absolute;
    top: 21px;
    left: 20px;
    border-right: 7px solid rgba(50, 50, 50, 0.3);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    transition: border-right 0.5s;
}
.prolio_small a:hover ::before {
    border-right: 7px solid rgba(50, 50, 50, 0.6);
}
/*
.prolio_small .name {
    margin-left: 36px;
    margin-top: -2px;
}
.prolio_small .name div {
    letter-spacing: 6px;
    line-height: 2;
    font-size: 18px;
}
.prolio_small .name span {
    letter-spacing: 3px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}*/
.prolio_small a:last-child {
    /* text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 7px;
    line-height: 80px; */
    position: absolute;
    opacity: 0;
    cursor: default;
    /* padding: 0 50px;
    right: 0px;
    right: 0px;
    transition: color 0.5s; */
}

.prolio_small a:last-child::before {
    content: none;
    /* position: absolute;
    display: block;
    left: 0px;
    margin-top: 14px;
    width: 1px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2); */
}
/* .prolio_small .fa-caret-right {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    padding-left: 6px;
    margin-top: -4px;
    transition: color 0.5s;
}
.prolio_small a:hover {
    color: rgba(0, 0, 0, 0.8);
}
.prolio_small a:hover .fa-caret-right {
    color: rgba(0, 0, 0, 0.8);
} */

/* prolio end */
